footer.footer
    .container
        .footer-content
            ul.social-links.list-inline
                li
                    a(href="mailto:sarah@sarahlim.com", class="email")
                        span.social-link-text Email
                li
                    a(href="http://twitter.com/soylentqueen", class="twitter")
                        span.social-link-text Twitter

                li
                    a(href="http://linkedin.com/in/sarahclim", class="linkedin")
                        span.social-link-text LinkedIn
                li
                    a(href="http://github.com/sarahlim" class="github", class="github")
                        span.social-link-text GitHub

                li
                    a(href="http://instagram.com/soylentqueen", class="instagram")
                        span.social-link-text Instagram

            p.footer-copy.
                Designed and developed by Sarah Lim.