if headerInverted
    header.header
        .header-content.container.clearfix.on-dark
            .header-title-wrapper
                h1.header-title
                    a(href="/index") Sarah Lim
            .header-nav-wrapper
                ul.list-inline.header-nav
                    li: a(href="/about") About
                    li: a(href="/projects") Projects
                    li: a(href="/articles") Blog
                    li: a(href="/contact") Contact
else
    header.header
        .header-content.container.clearfix
            .header-title-wrapper
                h1.header-title
                    a(href="/index") Sarah Lim
            .header-nav-wrapper
                ul.list-inline.header-nav
                    li: a(href="/about") About
                    li: a(href="/projects") Projects
                    li: a(href="/articles") Blog
                    li: a(href="/contact") Contact