doctype
html
    head
        meta(charset="utf-8")
        meta(name="robots", content="noindex, nofollow")
        meta(http-equiv="refresh", content="1;url=#{ url }")
        script(type="text/javascript")
            window.location.href = "#{ url }"
    body
        p If you are not redirected automatically, #[a(href="#{ url }") click here].
        