script(src="../assets/js/jquery-2.1.4.js")
script(src="../assets/js/main.js")
script(src="../assets/js/ga.js")
script(src="../assets/js/prism.js")
//- MathJax
script(src="https://cdn.mathjax.org/mathjax/latest/MathJax.js?config=TeX-AMS_HTML" type="text/javascript")
script(type="text/x-mathjax-config").
    MathJax.Hub.Config({
    tex2jax: {
        inlineMath: [['$','$'], ['\\(','\\)']],
        displayMath: [ ['$$','$$'], ["\\[","\\]"] ],
        processEnvironments: true
    }});