
/* =============================================================
** Variables and Globals
** ============================================================= */

$monospace-stack: Consolas, Monaco;

$light-grey: #fafafa;
$med-grey: #e9e9e9;
$grey: #bfbfbf;
$primary: #e74d3c;
$primary-dark: #ce4435;

$line-height: 2.8rem;

article {
  font-family: 'Source Sans Pro';
}

/* =============================================================
** Headings
** ============================================================= */

article h1,
article h2,
article h3,
article h4,
article h5,
article h6 {
  // font-weight: 200;
  margin: 2rem 0 1rem;
}

article h1,
article h2,
article h3 {
  letter-spacing: -0.1rem;
}

article h4,
article h5,
article h6 {
  letter-spacing: -0.05rem;
}

article h1 { font-size: 3.0rem; }
article h2 { font-size: 2.6rem; }
article h3 { font-size: 2.2rem; }
article h4 { font-size: 1.8rem; }
article h5 { font-size: 1.6rem; }
article h6 { font-size: 1.6rem; }

// @media (min-width: 600px) {
//   article h1,
//   article h2,
//   article h3,
//   article h4,
//   article h5,
//   article h6 {
//     margin: 3rem 0 1rem;
//   }
//   article h1 { font-size: 5.0rem; }
//   article h2 { font-size: 4.2rem; }
//   article h3 { font-size: 3.6rem; }
//   article h4 { font-size: 3.0rem; }
//   article h5 { font-size: 2.4rem; }
//   article h6 { font-size: 1.6rem; }
// }

/* =============================================================
** Paragraph and links
** ============================================================= */

article p {
  line-height: $line-height;
  margin-bottom: 2rem;
}

article p:last-child {
  margin-bottom: 0;
}

article em {
  font-style: italic;
}

article strong {
  font-weight: bold;
}

article a {
  color: $primary;
  text-decoration: none;
}

article a:hover {
  color: $primary-dark;
  border-bottom: 1px solid $primary-dark;
}


/* =============================================================
** Lists
** ============================================================= */

article ul,
article ol {
  margin: 0 0 2rem;
  line-height: $line-height;
}

article ul li,
article ol li {
  padding-left: 0.2rem;
  margin-bottom: 1rem;
}

article ul li:last-child,
article ol li:last-child {
  margin-bottom: 0;
}

article ul li p,
article ol li p {
  margin: 0 0 0.5rem;
  padding: 0;
}



/* =============================================================
** Horizontal rules
** ============================================================= */

article hr {
  margin: 3rem 0;
  border: 0;
  height: 0;
  border-top: 1px solid $med-grey;
}

@media (min-width: 600px) {
  article hr {
    margin: 4rem 0;
  }
}

/* =============================================================
** Blockquotes
** ============================================================= */

article blockquote {
  padding: 1.5rem;
  margin: 2rem 0;
  background-color: $light-grey;
  border-left: 1rem solid $med-grey;
}

  @media (min-width: 600px) {
    article blockquote {
      width: 85%;
      margin: 2rem auto;
    }
  }

article blockquote p {
  margin: 0.8rem 0;
}

article blockquote p:first-child {
  margin-top: 0;
}

article blockquote p:last-child {
  margin-bottom: 0;
}

// @media (min-width: 600px) {
//   blockquote {
//     padding: 2rem;
//   }
// }

/* =============================================================
** Code
** ============================================================= */

article pre,
article code {
  font-family: $monospace-stack, monospace;
  color: #333;
  background-color: #f0f0f0;
}

article code {
  padding: 0.3rem 0.5rem;
}

article pre {
  white-space: pre-wrap;
  padding: 2rem;
  margin: 0 0 $line-height;
}

article pre code {
  font-size: 95%;
  padding: 0;
  margin: 0;
  line-height: 1.4;
}

article table code {
  font-size: 90%;
}

/* =============================================================
** Tables
** ============================================================= */

article table {
  border-collapse: collapse;
}

article table td,
article table th {
  padding: 1.4rem;
}

article table td {
  border-top: 1px solid $med-grey;
}

/* =============================================================
** Page layout
** ============================================================= */

.content {
  padding: 1rem;
}

article {
  margin-bottom: 3rem;
}

footer {
  color: #b8b8b8;
  padding: 3rem 0;
  text-size: 1.2rem;
  text-align: center;
}

@media (min-width: 600px) {
  .content {
    width: 70%;
    margin: 0 auto;
  }
}