/*******************************************
* BASE STYLES
*******************************************/

/* stonewashed theme */
$light: #bdbdbd; /* light grey */
$lightest: #ecf0f1;
$primary: #e74d3c; /* 7e9bab */
  $primary-alt: #d64638;

/* flat UI theme
$light: #ecf0f1; /* offwhite
$dark: #2c3e50; /* navy
$primary: #e74d3c; /* red */
$secondary: #3498db; /* light blue */
$tertiary: #2980b9; /* slightly darker blue */

/* nautical theme
$light: #fff; /* white
$dark: #2c3e50; /* navy
$primary: #fc4349; /* red
$secondary: #6dbcdb; /* blue
$tertiary: #d7dadb; /* grey
*/

@mixin border-radius($radius) {
  -webkit-border-radius: $radius;
     -moz-border-radius: $radius;
      -ms-border-radius: $radius;
          border-radius: $radius;
}

@mixin no-appearance {
  -webkit-appearance: none;
     -moz-appearance: none;
}

/* ===== SIZING ===== */

/* set rem measurements based on 10px sizing, e.g. 1.5rem = 15px */
html { font-size: 62.5%; }

/* ===== COLORS ===== */

body {
  background: #fff;
  color: #000;
}

*::selection {
  background: $primary;
  color: #fff;
}
*::-moz-selection {
  background: $primary;
  color: #fff;
}
*::-webkit-selection {
  background: $primary;
  color: #fff;
}

/* ===== LINKS ===== */

a {
  color: $primary;
  text-decoration: none;
}
  a:hover,
  .active {
    color: $primary-alt;
  }

.anchor {
  display: block;
  position: relative;
  top: -10rem;
  visibility: hidden;
}

/* ===== BUTTONS ===== */

.btn {
  display: inline-block;
  margin: 2rem 0;
  padding: 1rem 3rem;
  border: 2px solid;

  font-weight: 600;
  letter-spacing: 0.1rem;
  text-transform: uppercase;
  font-size: 1.2rem;
}

  .btn-default {
    @extend .btn;
    background-color: transparent;
    color: #000; }
    .btn-default:hover {
      border: 2px solid #000;
      background-color: #000;
      color: #fff; }

  .btn-inverted {
    @extend .btn;
    background-color: transparent;
    color: #fff; }
    .btn-inverted:hover {
      border: 2px solid #fff;
      background-color: #fff;
      color: #000; }

.btn-primary {
  @extend .btn;
  border-color: $primary;
  background-color: $primary;
  color: #fff; }
  .btn-primary:hover {
    border-color: $primary-alt;
    background-color: $primary-alt; }

.btn-secondary {
  @extend .btn;
  border-color: $secondary;
  background-color: $secondary;
  color: #fff; }
  .btn-secondary:hover {
    border-color: $tertiary;
    background-color: $tertiary; }

/* ===== FORMS ===== */

.contact-form {
  margin-top: 2rem;
}

.input-text,
.input-textarea,
.input-select,
.input-val {
  @include no-appearance;
  box-sizing: border-box;
  margin-bottom: 2rem;
  padding: 1rem 1.5rem;
  height: auto;
  width: 100%;

  border: none;
  background-color: $lightest;

  font-size: 1.4rem;
}
.input-text:focus,
.input-textarea:focus,
.input-select:focus,
.input-val:focus,
.input-radio,
.input-check {
  outline: 1px solid $primary;
}
  .input-text:focus,
  .input-textarea:focus,
  .input-val:focus {
  background-color: #fff;
  }

/***/

.input-textarea {
  display: block;
}

.textarea-vertical {
  resize: vertical;
}

.input-submit {
  margin: 0 auto 1rem auto;
  display: block;
}

@media (min-width: 600px) {
  .contact-form {
    width: 80%;
    display: block;
    margin-left: auto;
    margin-right: auto;
  }
  .input-submit {
    margin: 0 0 1rem 0;
  }
}

/***/

.input-radio,
.input-check {
  background-color: $light;
  border: none;
  margin-right: 1rem;
}

/***/

.submit-confirm {
  display: none;
  text-align: center;
  color: $primary;
  font-style: italic;
}

.submit-error {
  @extend .submit-confirm;
}

@media (min-width: 600px) {
  .submit-confirm,
  .submit-error {
    text-align: left;
  }
}

/****************************************
* GRID
****************************************/

/* ===== FLOATS AND CLEARFIX ===== */

.pull-left {
  float: left;
}

.pull-right {
  float: right;
}

.clearfix:after {
  content: "";
  display: table;
  clear: both;
}

/* ===== GRID ===== */

.container {
  max-width: 1140px;
  margin: 0 auto;
  padding: 0 20px;
  -webkit-box-sizing: border-box;
}

  @media (min-width: 400px) {
    .container {
      width: 85%;
      padding: 0; }
  }

.row {
  @extend .clearfix;
  padding-bottom: 2rem;
  overflow: auto;
}
.row:last-child {
  padding-bottom: 0;
}

.col {
  width: 100%;
  float: left;
  margin-bottom: 2rem;
  -webkit-box-sizing: border-box;
}
.col:last-child {
  margin-bottom: 0;
}

/* for elements using the grid for positioning, don't add a lower margin */
.col-inline {
  @extend .col;
  margin-bottom: 0;
}

  /* activate the grid for larger screens */
  @media (min-width: 600px) {
    .container {
      width: 80%;
      padding: 0; }
    .row {
      padding-bottom: 3rem;
    }
    .col {
      margin-left: 4%; 
      margin-bottom: 0; }
    .col:first-child {
      margin-left: 0; }
      
    .col.one-quarter  { width: 22%; }
    .col.three-quarters  { width: 74%; }

    .col.one-half  { width: 48%; }

    .col.one-eighth { width: 9%; }
    .col.seven-eighths { width: 87%; }

    .col.one-third  { width: 30.66666667%; }
    .col.two-thirds  { width: 74.333333%; }
  }