/*******************************************
* BLOG
*******************************************/

/* ===== POST LIST ===== */

.post-list {
	list-style: none;
	margin-top: 3rem;
}

.post-list li {
	margin-bottom: 1rem;
}
.post-list li:last-child {
	margin-bottom: 0;
}

.dates {
	line-height: 2.4rem;
	text-transform: uppercase;
	font-size: 1.4rem;
	color: #000;
}

@media (min-width: 600px) {
	.dates {
		text-align: right;
		margin-top: 0.3rem;
	}
}

.post-title,
.post-headline {
	color: #000;
}
	.post-title a:hover {
		color: $primary-alt;
	}

.post-title {
	margin-bottom: 0.5rem;
	text-transform: capitalize;
}
	h2.post-title {
		margin-top: 0;
	}

.post-headline {
	font-size: 1.8rem;
	letter-spacing: 0.03rem;
	font-weight: 400;
	font-style: italic;
	text-transform: none;
}

/* ===== ARTICLE MAIN VIEW ===== */

.article-title {
	@extend .post-title;
	margin-bottom: 0;
}

.article-date {
	@extend .dates;
	font-style: italic;
	marign-bottom: 2rem;
}

.article-headline {
	font-size: 1.6rem;
	letter-spacing: 0.03rem;
	font-weight: 400;
	margin: 1.5rem 0;
	color: $primary;
	text-transform: uppercase;
}

.article-body {
	margin: 2rem 0 4rem 0;

	p {
		@extend .main-copy;
		font-family: 'Calluna', $serif-stack;
		line-height: 1.8;
		text-indent: 4rem;
	}

	hr {
		@extend .divider-part;
	}
}

@media (min-width: 550px) {
	.post-article {
		width: 80%;
		display: block;
		margin: 0 auto;
	}
	.article-body {
		font-size: 1.8rem;
	}
}

/* ===== ARTICLE FOOTER ===== */

.article-meta {
	padding: 2rem 0;
	border-top: 1px solid $lightest;
}

.article-meta-date,
.article-meta-author {
	display: inline-block;

	span {
		display: block;
		font-size: 1.2rem;
		text-transform: uppercase;
		font-weight: 700;
	}
}
.article-meta-author {
	margin-left: 3rem;
}

.prev,
.next {
	display: inline;
}

.prev {
	float: left;
}

.next {
	float: right;
}