/*******************************************
* @FONT-FACE IMPORTS
*******************************************/

/* ===== WHITNEY ===== */
/* - Book 400
** - Book Italic 400
** - Medium 500
** - Medium Italic 500
** - Bold  700
*/

@font-face {
    font-family: 'Whitney';
    src: url('fonts/whitney/whitney-book.woff2') format('woff2'), url('fonts/whitney/whitney-book.woff') format('woff'), url('fonts/whitney/whitney-book.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Whitney';
    src: url('fonts/whitney/whitney-bookitalic.woff2') format('woff2'), url('fonts/whitney/whitney-bookitalic.woff') format('woff'), url('fonts/whitney/whitney-bookitalic.ttf') format('truetype');
    font-weight: normal;
    font-style: italic;
}
@font-face {
    font-family: 'Whitney';
    src: url('fonts/whitney/whitney-medium.woff2') format('woff2'), url('fonts/whitney/whitney-medium.woff') format('woff'), url('fonts/whitney/whitney-medium.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
}
@font-face {
    font-family: 'Whitney';
    src: url('fonts/whitney/whitney-mediumitalic.woff2') format('woff2'), url('fonts/whitney/whitney-mediumitalic.woff') format('woff'), url('fonts/whitney/whitney-mediumitalic.ttf') format('truetype');
    font-weight: 500;
    font-style: italic;
}
@font-face {
    font-family: 'Whitney';
    src: url('fonts/whitney/whitney-bold.woff2') format('woff2'), url('fonts/whitney/whitney-bold.woff') format('woff'), url('fonts/whitney/whitney-bold.ttf') format('truetype');
    font-weight: 700;
    font-style: normal;
}

/* ===== MONTSERRAT ===== */
/* - Light 200
** - Regular 400
** - SemiBold 600
*/

@font-face {
    font-family: 'Montserrat';
    src: url('fonts/montserrat/montserrat-regular.woff2') format('woff2'), url('fonts/montserrat/montserrat-regular.woff') format('woff'), url('fonts/montserrat/montserrat-regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Montserrat Light';
    src: url('fonts/montserrat/montserrat-light.woff2') format('woff2'), url('fonts/montserrat/montserrat-light.woff') format('woff'), url('fonts/montserrat/montserrat-light.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Montserrat SemiBold';
    src: url('fonts/montserrat/montserrat-semibold.woff2') format('woff2'), url('fonts/montserrat/montserrat-semibold.woff') format('woff'), url('fonts/montserrat/montserrat-semibold.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

/* ===== NITTI GROTESK ===== */
/* - SemiLight 300
** - Normal 400
** - Normal Italic 400
** - Bold 700
*/

@font-face {
	font-family: 'Nitti Grotesk';
	src: url('fonts/NittiGrotesk/NittiGrotesk-Normal.woff2') format('woff2'), url('fonts/NittiGrotesk/NittiGrotesk-Normal.woff') format('woff'), url('fonts/NittiGrotesk/NittiGrotesk-Normal.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: 'Nitti Grotesk';
	src: url('fonts/NittiGrotesk/NittiGrotesk-SemiLight.woff2') format('woff2'), url('fonts/NittiGrotesk/NittiGrotesk-SemiLight.woff') format('woff'), url('fonts/NittiGrotesk/NittiGrotesk-SemiLight.ttf') format('truetype');
	font-weight: 200;
	font-style: normal;
}
@font-face {
  font-family: 'Nitti Grotesk';
  src: url('fonts/NittiGrotesk/NittiGrotesk-NormalItalic.woff2') format('woff2'), url('fonts/NittiGrotesk/NittiGrotesk-NormalItalic.woff') format('woff'), url('fonts/NittiGrotesk/NittiGrotesk-NormalItalic.ttf') format('truetype');
  font-weight: normal;
  font-style: italic;
}
@font-face {
  font-family: 'Nitti Grotesk';
  src: url('fonts/NittiGrotesk/NittiGrotesk-Bold.woff2') format('woff2'), url('fonts/NittiGrotesk/NittiGrotesk-Bold.woff') format('woff'), url('fonts/NittiGrotesk/NittiGrotesk-Bold.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
}

/* ===== RALEWAY ===== */
/* - Medium 500
** - SemiBold 600
*/

@font-face {
  font-family: 'Raleway';
  src: url('fonts/raleway/raleway-medium.woff2') format('woff2'), url('fonts/raleway/raleway-medium.woff') format('woff'), url('fonts/raleway/raleway-medium.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: 'Raleway';
  src: url('fonts/raleway/raleway-semibold.woff2') format('woff2'), url('fonts/raleway/raleway-semibold.woff') format('woff'), url('fonts/raleway/raleway-semibold.ttf') format('truetype');
  font-weight: 600;
  font-style: normal;
}

/* ===== PLAYFAIR DISPLAY ===== */
/* - Regular 400
** - Bold 700
** - Bold Italic 700
*/

@font-face {
  font-family: 'Playfair Display';
  src: url('fonts/PlayfairDisplay/playfairdisplay-regular.woff2') format('woff2'), url('fonts/PlayfairDisplay/playfairdisplay-regular.woff') format('woff'), url('fonts/PlayfairDisplay/playfairdisplay-regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: 'Playfair Display';
  src: url('fonts/PlayfairDisplay/playfairdisplay-bold.woff2') format('woff2'), url('fonts/PlayfairDisplay/playfairdisplay-bold.woff') format('woff'), url('fonts/PlayfairDisplay/playfairdisplay-bold.ttf') format('truetype');
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: 'Playfair Display';
  src: url('fonts/PlayfairDisplay/playfairdisplay-bolditalic.woff2') format('woff2'), url('fonts/PlayfairDisplay/playfairdisplay-bolditalic.woff') format('woff'), url('fonts/PlayfairDisplay/playfairdisplay-bolditalic.ttf') format('truetype');
  font-weight: 700;
  font-style: italic;
}