/****************************************
* GRID
****************************************/

/* ===== FLOATS AND CLEARFIX ===== */

.pull-left {
	float: left;
}

.pull-right {
	float: right;
}

.clearfix:after {
	content: "";
	display: table;
	clear: both;
}

/* ===== GRID ===== */

.container {
	max-width: 1140px;
	margin: 0 auto;
	padding: 0 20px;
	-webkit-box-sizing: border-box;
}

	@media (min-width: 400px) {
	  .container {
	    width: 85%;
	    padding: 0; }
	}

.col {
	width: 100%;
	float: left;
	-webkit-box-sizing: border-box;
}

	/* activate the grid for larger screens */
	@media (min-width: 550px) {
		.container {
			width: 80%;
			padding: 0; }
		.col {
			margin-left: 1.6%; }
		.col:first-child {
			margin-left: 0; }
			
		.col.one-quarter  { width: 23.8%; }
		.col.one-third  { width: 32.26667%; }
		.col.one-half  { width: 49.2%; }
		.col.two-thirds  { width: 66.13333%; }
	}