/****************************************
* HERO
****************************************/

/* ===== DEV ===== */

@mixin translateX($x) {
	transform: translateX($x);
	-webkit-transform: translateX($x);
       -moz-transform: translateX($x);
        -ms-transform: translateX($x);
         -o-transform: translateX($x);
}

/* ===== BACKGROUND ===== */

.hero,
.about-hero {
	position: relative;
	background-size: cover;
	background-repeat: no-repeat;
	background-color: #d6dadf;
}

.hero {
	height: 100vh;
	background-position: center center;
	background-image: url(../images/sl.jpg);
}

.about-hero {
	height: 75vh;
	background-image: linear-gradient(rgba(0, 0, 0, 0.5),
									  rgba(0, 0, 0, 0.5)),
					  url(../images/unsplash-hero.jpg);

	background-position: center left;
	transition: all 0.6s ease;
}

/* ===== HOMEPAGE / ABOUT PAGE FEATURES ===== */

.feature,
.about-feature {
	position: absolute;
	left: 50%;
	transform: translate(-50%);
	-webkit-transform: translate(-50%);
	   -moz-transform: translate(-50%);

	width: 85%;
	text-align: center;
}

.feature {
	top: 25%;
}

.about-feature {
	color: #fff;
	top: 35%;
}

.feature-header,
.about-header {
	margin: 0;
	text-align: center;
	font-size: 3.0rem;
	text-transform: none;
	line-height: 1.3;
}

.about-header {
	font-weight: 700;
	color: #fff;
}

.feature-header {
	font-style: italic;
}

.feature-header:before {
	content: '\201c';
}

.feature-header:after {
	content: "\201d";
}

@media (min-width: 550px) {
	.feature-header,
	.about-header {
		font-size: 4.0rem;
		line-height: 1.4;
	}
}

@media (min-width: 600px) {
	.feature {
		width: 100%;
	}
	.about-feature {
		width: 50%;
		top: 25%;
	}
}

@media (min-width: 800px) {
	//remove grey tint
	.about-hero {
	/*  background-image: url(../images/about-alt.jpg);*/
		background-position: center top;
	}
	.feature {
		width: 100%;
	}
	.about-feature {
		/* color: #000; */
		width: 50%; //40%
		top: 30%;
		//left: 70%; offset horizontally
	}
	
	.feature-header,
	.about-header {
		font-size: 4.0rem;
		line-height: 1.4;
	}
}

/* ===== DOWN ARROW ===== */

.down-arrow {
	position: absolute;
	bottom: 5%;
	left: 50%;
	transform: translate(-50%);
	-webkit-transform: translate(-50%);
	   -moz-transform: translate(-50%);

	height: 4rem;
	width: 5rem;

	background-color: #fff;
	mask-image: url(../images/down.svg);
	-webkit-mask-image: url(../images/down.svg);
	mask: url(../images/down.svg);
}

.down-arrow:hover {
	background-color: #000; /* 7e9bab */
}