/*******************************************
* PORTFOLIO
*******************************************/

/* ===== THUMBNAILS ===== */

.thumbnails {
	margin: 2rem 0;
}

.project {
	@extend .col;
}
/*
@media (min-width: 600px) {
	.project {
		width: 48%;
		margin-top: 4%;
		margin-left: 4%;
	}

	// no top margin for first row
	.project:nth-child(1),
	.project:nth-child(2) {
		margin-top: 0;
	}

	// no left margin for first of every row
	.project:nth-child(4n) {
		margin-left: 4%;
	}
	.project:nth-child(3n) {
		margin-left: 0;
	}
}
*/

@media (min-width: 600px) {
	.project {
		width: 30.66666667%;
		margin-top: 4%;
		margin-left: 4%;
	}

	.project:nth-child(1),
	.project:nth-child(2),
	.project:nth-child(3), {
		margin-top: 0;
	}

	.project:nth-child(3n) {
		margin-left: 4%;
	}
	.project:nth-child(4n) {
		margin-left: 0;
	}
}

.project {
	-webkit-transition: all 0.2s ease;
	-moz-transition: all 0.2s ease;
	-ms-transition: all 0.2s ease;
	-o-transition: all 0.2s ease;
	transition: all 0.2s ease;
}

.project img {
	display: block;
	background: #fff;
	width: 100%;
	height: auto;
}

.project-name {
	color: #999;
	display: inline-block;
	display: none;
	font-size: 15px;
	font-weight: 400;
	margin: 20px 0;
}

.project:hover {
	opacity: .85;
}

.project:hover .project-title {
	opacity: 1;
	visibility: visible;
}

/* ===== PROJECT DETAIL VIEW ===== */

.project-title {
	margin-bottom: 2rem;
}

.project-body {
	p {
		margin-bottom: 2rem;
	}

	.featured {
		display: block;
		height: auto;
		width: 100%;
		margin-bottom: 2rem;
	}
	.featured.part-width {
		margin: 0 auto;
		width: 60%;
	}
	.featured:last-child {
		margin-bottom: 0;
	}
}

.article-tags {
	@extend .article-meta-author;
}