$mint: hsl(157, 84%, 95%);
$darkblue: hsl(199, 85.3%, 13.3%);
$yellow: rgba(245, 215, 110, .5);
$whisper: hsl(18, 25%, 92%);
$cinderella: hsl(12, 100%, 98%);
$cinder: hsl(220, 21%, 16%);
$white: hsl(255, 100%, 100%);
$blond: hsl(56, 100%, 92%);
$blue: hsl(202, 97%, 81%);
$indian-red: hsl(355, 50%, 56%);

$spacer: 20px;

body {
  background-color: $mint;
  color: $darkblue; 
  overflow-x: hidden;
}

a {
  text-decoration: none;
  color: black;
  background: $yellow; 
  transition: all linear .2s;

  &:hover {
    background: rgba($yellow, 1.0);
    text-decoration: none;
  }
}

a.no-highlight {
  background-color: transparent;

  &:hover {
    color: lighten($darkblue, 20%);
  }
}


/**
 * Utility classes for basic styling.
 */

.container {
  max-width: 860px;
  margin: 0 auto;
  padding: $spacer;

  @media (min-width: 500px) {
    padding: ($spacer * 2);
  }
}

.list-unstyled {
  list-style-type: none;
}

.list-inline {
  display: flex;

  li:not(:last-of-type) {
    padding-right: $spacer;
  }
}

ul.list-default {
  list-style: initial;
  margin-left: 2em;
  margin-bottom: $spacer;

  p {
      margin-bottom: calc($spacer / 4);
  }

  ul.list-default {
      margin-bottom: calc($spacer / 2);
  }
}

section {
  p {
    margin-bottom: $spacer;

    &:last-child {
      margin-bottom: 0;
    }
  }
}

.section-title {
  font-size: 1.5rem;
  margin: 0 auto;
  font-weight: bold;
  margin-bottom: calc($spacer / 2);
  position: relative;
  display: table; // shrinkwrap
  padding: 0 10px;
  z-index: 2;

  &::after {
    content: '';
    background-color: #f5c0a2;
    height: 5px;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 0;
    width: 100%;
    z-index: -1;
  }
}
