/*******************************************
* BLOG
*******************************************/

/* ===== POST LIST ===== */

.post-list {
	list-style: none;
	margin-top: 3rem;
}

.post-list li {
	margin-bottom: 1rem;
}
.post-list li:last-child {
	margin-bottom: 0;
}

.dates {
	line-height: 2.4rem;
	text-transform: uppercase;
	font-size: 1.4rem;
	color: #000;
}

@media (min-width: 800px) {
	.dates {
		text-align: right;
		margin-top: 0.3rem;
	}
}

.post-title,
.post-headline {
	color: #000;
}
	.post-title a:hover {
		color: $primary-alt;
	}

.post-title {
	margin-bottom: 0.5rem;
	text-transform: capitalize;
}
	.main h3.post-title {
		margin-top: 0;
	}

.post-headline {
	font-size: 1.8rem;
	letter-spacing: 0.03rem;
	font-weight: 400;
	font-style: italic;
	text-transform: none;
}

/* ===== ARTICLE MAIN VIEW ===== */

article header {
	text-align: center;
}

.article-title {
	font-weight: bold;
	font-size: 3rem;
	margin-bottom: 0;
}

.article-date {
	font-style: italic;
	marign-bottom: 2rem;
}

.article-body {
	margin: 2rem 0 4rem 0;
}

// 	p,
// 	li,
// 	pre {
// 		@extend .main-copy;
// 	}

// 	p,
// 	li {
// 		font-family: 'Calluna', $serif-stack;
// 		line-height: 1.8;
// 	}

// 	hr {
// 		@extend .divider-part;
// 	}

// 	ul,
// 	ol,
// 	li {
// 		margin-left: 2rem;
// 	}
// }

@media (min-width: 550px) {
	.post-article {
		width: 80%;
		display: block;
		margin: 0 auto;
	}
	.article-body {
		font-size: 1.8rem;
	}
}

/* ===== CODE ===== */

// code {
// 	font-family: 'Monaco', monospace;
// 	font-size: 1.4rem;
// 	color: #555;
// 	padding: 0.4rem;
// 	background: #f6f6f6;
// }

// pre {
// 	border: 1px solid #d6dadf;
// 	border-radius: 3px;
// 	background: #f6f6f6;
// 	padding: 1.2rem;
// }



/* ===== BLOCKQUOTES ===== */

// blockquote {
// 	margin-left: 1.5rem;
// 	padding-left: 1.5rem;
// 	border-left: 1px solid #d6dadf;
// 	font-style: italic;
// }

/* ===== ARTICLE FOOTER ===== */

.article-meta {
	padding: 2rem 0;
	border-top: 1px solid $lightest;
}

.article-meta-date,
.article-meta-author {
	display: inline-block;

	span {
		display: block;
		font-size: 1.5rem;
	}
}
.article-meta-author {
	margin-left: 3rem;
}

.prev,
.next {
	display: inline;
}

.prev {
	float: left;
}

.next {
	float: right;
}