/**
 * Import font files in EOT, WOFF, and TTF format.
 * @param  {String} $file-name name of font file, minus extension
 */
@mixin font-src($file-name) {
  src: url('/css/webfonts/#{$file-name}.eot');
  src:
    url('../fonts/#{$file-name}.woff') format('woff'),
    url('../fonts/#{$file-name}.ttf') format('truetype'),
    url('../fonts/#{$file-name}.eot?#iefix') format('embedded-opentype');
}

@font-face {
  @include font-src('Larsseit');
  font-family: 'Larsseit';
  font-weight: 400;
  font-style: normal;
}

@font-face {
  @include font-src('LeituraNews-Italic4');
  font-family: 'Leitura News';
  font-weight: 800;
  font-style: italic;
}

@font-face {
  @include font-src('LeituraNews-Italic3');
  font-family: 'Leitura News';
  font-weight: 600;
  font-style: italic;
}

@font-face {
  @include font-src('LeituraNews-Italic1');
  font-family: 'Leitura News';
  font-weight: 200;
  font-style: italic;
}

@font-face {
  @include font-src('LeituraNews-Roman4');
  font-family: 'Leitura News';
  font-weight: 800;
  font-style: normal;
}

@font-face {
  @include font-src('LeituraNews-Italic2');
  font-family: 'Leitura News';
  font-weight: 400;
  font-style: italic;
}

@font-face {
  @include font-src('LeituraNews-Roman1');
  font-family: 'Leitura News';
  font-weight: 200;
  font-style: normal;
}

@font-face {
  @include font-src('LeituraNews-Roman3');
  font-family: 'Leitura News';
  font-weight: 600;
  font-style: normal;
}

@font-face {
  @include font-src('LeituraNews-Roman2');
  font-family: 'Leitura News';
  font-weight: 400;
  font-style: normal;
}

