.footer {
  text-align: center;
  font-size: 0.9rem;

  > .container {
    font-style: italic;
  }

  .blurb {
    display: flex;
    flex-direction: column;
    margin-bottom: calc($spacer / 2);

    > p {
      margin-bottom: 0;
      line-height: 1.8;
    }
  }

  &__links {
    justify-content: center;
    align-items: center;
  }

  .fa {
    margin-right: 0.5em;
  }

  .fa:hover {
    color: darken(white, 20%);
  }

  @media (min-width: 500px) { 
    text-align: left;
    
    > .container {
      display: flex;
      justify-content: space-between;
    }

    .blurb {
      align-items: flex-start;
      margin-bottom: 0;
      margin-right: $spacer;
    }
  }
}

.dark {
  background-color: $cinder;
  color: $white;

  a {
    color: $white;
    background-color: transparent;
  }
}
