.footer {
  text-align: center;
  font-size: 0.9rem;

  > .container {
    font-style: italic;
  }

  p {
    margin-bottom: ($spacer / 2);
  }

  &__links {
    justify-content: center;
    align-items: center;
  }

  .fa {
    margin-right: 0.5em;
  }

  .fa:hover {
    color: darken(white, 20%);
  }

  @media (min-width: 500px) { 
    > .container {
      display: flex;
      justify-content: space-between;
    }

    p {
      margin-bottom: 0;
    }
  }
}

.dark {
  background-color: $cinder;
  color: $white;

  a {
    color: $white;
    background-color: transparent;
  }
}
