/****************************************
* HEADER AND FOOTER
****************************************/

/* ===== HEADER STRUCTURE ===== */

.header {
	position: fixed;
	top: 0;
	left: 0;
	z-index: 100;

	width: 100%;
	padding: 1.5rem 0;
	transition: all 0.6s ease;

	font-family: 'Raleway', $sans-serif-stack;
}

.header-title-wrapper {
	text-align: center;
}

.header-nav-wrapper {
	text-align: center;
}

.header-title {
	font-family: 'Raleway', $sans-serif-stack;
	margin: 0;
	font-size: 2.4rem;
	font-weight: 700;
	letter-spacing: 0.2rem;
	line-height: 3.0rem;
}

.header-nav li {
	line-height: 3.0rem;
	text-transform: uppercase;
	font-weight: 500;
	font-size: 1.4rem;
	letter-spacing: 0.1rem;
}

@media (min-width: 600px) {
	.header {
		padding: 2.5rem 0;
	}
	.header-title-wrapper {
		float: left;
		margin-bottom: 0;
	}

	.header-nav-wrapper {
		float: right;
	}

	.header-title {
		font-size: 2.6rem;
	}

	.header-nav li {
		font-size: 1.6rem;
	}
}

@media (min-width: 800px) {
	.header-content.on-dark,
	.header-content.on-dark a,
	.header-content.on-dark .header-title {
		color: #fff;
	}
}

/* ===== HEADER STYLING ===== */

.header a {
	color: #000;
}
	.header a:hover {
		color: $primary;
	}

//for static header
.on-dark,
.on-dark a,
.on-dark .header-title {
	color: #fff;
}

//for fixed header
.scrolled {
	background-color: rgba(255,255,255,0.95);
	box-shadow: 0 0.1rem 0.5rem rgba(0,0,0,0.15);
	-webkit-box-shadow: 0 0.1rem 0.5rem rgba(0,0,0,0.15);
	   -moz-box-shadow: 0 0.1rem 0.5rem rgba(0,0,0,0.15);

	transition: all 0.6s ease;

	color: #000;
}
.scrolled.header a {
	color: #000;
}

/* ===== FOOTER ===== */

.footer {
	text-align: center;
	color: $light;
}

.footer-content {
	padding: 3rem 0;
	font-size: 1.4rem;
	line-height: 2.0rem;
}

//simulate footer border-top
.footer-content:before {
	content: "";
	display: block;
	padding-bottom: 3rem;
	line-height: 1px;
	border-top: 1px solid $lightest;
}

.footer a {
	@extend .footer;
}
.footer a:hover {
	color: $primary;
}

/*****/

//push "made with love" to a new line on small screens
.footer-sub {
	display: block; 
}

.heart {
	color: $primary;
	margin: 0 0.1rem;
}

@media (min-width: 800px) {
	.footer-sub {
		display: inline;
	}
	.footer-content {
		padding: 4rem 0 6rem 0;
	}
	.footer-content:before {
		padding-bottom: 4rem;
	}
}

/* ===== SOCIAL LINKS ===== */

.social-links {
	margin-bottom: 1rem;
}

.social-links li {
	padding-left: 1.5rem;
}
.social-links li:first-child {
	padding-left: 0;
}

.social-links a:before {
	font-family: FontAwesome;
	font-size: 2.0rem;
}
.social-link-text {
	display: none;
	margin-left: 0.3rem; /* to space the FA icons */
}

.email:before 		{ content: '\f003'; }
.twitter:before 	{ content: '\f099'; }
.github:before 		{ content: '\f113'; }
.instagram:before 	{ content: '\f16d'; }
.linkedin:before 	{ content: '\f0e1'; }

@media (min-width: 800px) {
	.social-links,
	.footer-copy {
		display: inline-block;
		line-height: 1.5rem;
	}
	.footer-copy {
		float: left;
	}
	.social-links {
		float: right;
		margin-bottom: 0;
	}
}