/****************************************
* MAIN
****************************************/

/* ===== DIVIDER ===== */

.divider-full {
	border-top: 1px solid $lightest;
	margin: 3rem auto;
}

.divider-part {
	@extend .divider-full;
	width: 65%;
}

/* ===== CONTENT ===== */

.escape-header {
	padding-top: 9rem;
}

@media (min-width: 600px) {
	.escape-header {
		padding-top: 6rem;
	}
}

.main {
	padding: 2rem 0;
}

.main h1,
.main h2,
.main h3 {
	text-transform: capitalize;
	margin-top: 2rem;
}
.main h1:first-child {
	margin-top: 0rem;
}
.main h2:first-child {
	margin-top: 0rem;
}

.main-copy {
	margin-bottom: 1.5rem;
	line-height: 1.6;
}
.main-copy p:last-child {
	margin-bottom: 0;
}

@media (min-width: 600px) {
	.main {
		padding: 4.0rem 0;
	}
}

/* ===== ERROR PAGE ===== */

/* ===== HEADLINE ===== */

.headline {
	padding: 3rem 0 1rem 0;
}

.headline-heading {
	font-size: 3.0rem;
	font-family: 'Playfair Display', $serif-stack;
	text-transform: none;
	margin-bottom: 1.5rem;
}

.headline-subheading {
	@extend .headline-heading;
	font-size: 2.4rem;
	margin-bottom: 0;
}

@media (min-width: 600px) {
	.headline {
		padding: 4rem 0 2rem 0;
	}
	.headline-heading {
		font-size: 4.0rem;
	}
	.headline-subheading {
		font-size: 2.8rem;
	}
}

/* ===== HOMEPAGE INTRO ===== */

.intro {
	padding: 0;
	/* background-color: #ecf0f1; */
}

.intro-heading {
	font-size: 1.8rem;
	margin-bottom: 0.5rem;
}

.read-more {
	margin-top: 1.5rem;
}

@media (min-width: 550px) {
	.intro {
		padding-top: 1rem;
	}
}