/*******************************************
* PORTFOLIO
*******************************************/

/* ===== THUMBNAILS ===== */

.thumbnails {
  margin: 2rem 0;
}

.project {
  position: relative;
  
  img {
    display: block;
    width: 100%;
    height: auto;
  }
}

@media (min-width: 600px) {
    .project {
        width: 48%;
        margin-top: 4%;
        margin-left: 4%;
        float: left;
    }

    .project:nth-child(1),
    .project:nth-child(2) {
        margin-top: 0;
    }

    .project:nth-child(2n+1) {
        margin-left: 0;
    }
}

@media (min-width: 800px) {
    .project {
        width: 30.66666667%;
        margin-top: 4%;
        margin-left: 4%;
    }

    .project:nth-child(3) {
        margin-top: 0;
    }

    // reinstate margin for rightmost and odd-numbered columns
    .project:nth-child(3n-1) {
        margin-left: 4%;
    }
    // reinstate margin for rightmost and odd-numbered columns
    .project:nth-child(3n) {
        margin-left: 4%;
    }

    // no margin for left column
    .project:nth-child(4n) {
        margin-left: 0;
    }
}

.project-overlay {
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;

    background: rgba(0, 0, 0, 0.6);
    opacity: 0;
    -webkit-transition: all 0.4s ease;
       -moz-transition: all 0.4s ease;
        -ms-transition: all 0.4s ease;
         -o-transition: all 0.4s ease;
    transition: all 0.4s ease;
}

.project-name-wrapper {
    display: table;
    width: 50%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
       -moz-transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
         -o-transform: translate(-50%, -50%);
    text-align: center;
}

.project-name {
    display: table-cell;
    vertical-align: middle;
    font-size: 2rem;
    color: #fff;
}

.project:hover .project-overlay {
    opacity: 1;
}

/* ===== PROJECT DETAIL VIEW ===== */

.project-title {
    margin-bottom: 2rem;
}

.project-body {
    p {
        margin-bottom: 2rem;
    }

    .featured {
        display: block;
        height: auto;
        width: 100%;
        margin-bottom: 2rem;
    }
    .featured:last-child {
        margin-bottom: 0;
    }
}

@media (min-width: 600px) {
    .featured.part-width {
        margin: 0 auto;
        width: 60%;
    }
}

.article-tags {
    @extend .article-meta-author;
}