.resume {
  margin-bottom: $spacer;

  &__item-description,
  &__item-summary {
    display: inline-block;
    vertical-align: top;
    margin-bottom: $spacer;
  }

  &__title {
    font-weight: bold;
    font-size: 1.2rem;

    @media (min-width: 500px) {
      margin-bottom: calc($spacer / 4);
    }
  }

  &__location {
    @extend .font-secondary;
    font-size: 0.8rem;
    letter-spacing: 1px;
    margin-bottom: calc($spacer / 2);
  }

  &__tag {
    font-family: $monospace-stack;
    font-size: 0.9rem;
    padding: 1px 4px;
    display: inline-block;
    margin-right: 5px;
    margin-bottom: 5px;

    border-radius: 2px;
    color: #333;
    background-color: #eaeaea;

    &.research {
      background-color: rgba(242, 196, 183, 1);
      color: rgba(143, 90, 81, 1);
    }

    &.development {
      background-color: rgba(131, 226, 207, 1);
      color: rgba(49, 89, 81, 1);
    }

    &.coursework {
      background-color: $blue;
      color: rgba(49, 89, 81, 1);
    }
  }

  &__item-links {
    @extend .font-secondary;
    letter-spacing: 1px;
    margin-top: calc($spacer / 2);

    .fa {
      margin-right: 0.5em;
    }

    > li {
      &:not(:last-of-type) {
        margin-right: 10px;
      }
    }
  }

  @media (min-width: 640px) {
    &__item-description,
    &__item-summary {
      margin-bottom: 60px;

      &:last-of-type {
        margin-bottom: 0;
      }
    }

    &__item-summary {
      width: 30%;
      padding-right: calc($spacer * 2);
    }
    &__item-description {
      width: 70%;
    }
  }
}
