/**
 * ABOUT
 */

.about {
  background-color: hsl(0, 0%, 98%);

  h3 {
    @extend .font-secondary;
    letter-spacing: 1px;
    margin-top: 1.5rem;
    margin-bottom: 0.5rem;
  }

  ul {
    @extend .list-default;
  }
}

/**
 * NEWS
 */

.news {
  background-color: $blond;

  &__item-date,
  &__item-description {
    display: inline-block;
    vertical-align: top;
  }

  &__item-date {
    font-style: italic;
    font-weight: 600;
    font-size: 0.9rem;
    display: block;
  }

  &__item-description {
    margin-bottom: calc($spacer / 2);
  }

  @media (min-width: 640px) {
    &__item-date {
      width: 15%;
      text-align: right;
      padding-right: $spacer;
      display: inline-block;
    }

    &__item-description {
      width: 85%;
    }
  }
}

/**
 * TEACHING
 */

.teaching {
  background-color: $white;

  &__course {
    margin-bottom: $spacer;

    &:last-of-type {
      margin-bottom: 0;
    }
  }

  &__course-title {
    font-weight: bold;
    font-size: 1.2rem;
  }

  &__course-period {
    margin-bottom: 5px;
    font-style: italic;
  }

  &__course-link--inactive {
    &::after {
      content: ' (to be ported)';
      font-style: italic;
    }
  }
}
