@import url('https://fonts.googleapis.com/css?family=Inconsolata');

$serif-stack: (
  'Leitura News',
  'Palatino',
  'Georgia',
  'Times New Roman',
  serif,
);

$sans-serif-stack: (
  'Larsseit',
  -apple-system,
  BlinkMacSystemFont,
  'Futura',
  sans-serif,
);

$monospace-stack: (
  'Inconsolata',
  'Consolas',
  monospace,
);

$base-font-size:   16px;

// * {
  // -webkit-font-smoothing: antialiased;
  // -moz-osx-font-smoothing: grayscale;
// }

body {
  font-family: $serif-stack;
  font-size: $base-font-size;
  line-height: 1.6;
  quotes: "“" "”" "‘" "’";
}

.font-secondary {
  font-family: $sans-serif-stack;
  text-transform: uppercase;
  font-size: 90%;
}

em {
  font-style: italic;
}

strong {
  font-weight: bold;
}

h1 {
  font-weight: bold;
}
