title: Panic! at the discovery
author: Sarah Lim
date: 10-11-2012
headline: In which I become a real person

{% extends "article.html" %}
{% block body %}

{% filter markdown %}

I didn’t really want to go to Oregon. To be honest, I’d rather have whiled the day away vegetating on my bed messing around in Photoshop. But there was a three-day weekend, and my parents wanted to take a day trip, and I didn’t want to pick a fight.

Playing the bored adolescent, I had spent the entire bumpy drive to Portland in our little Honda Civic with my legs smushed against the passenger seat, dozing in a state of half-consciousness while Shostakovich’s 5th hummed through my earbuds. I flicked nonchalantly through Gowalla as we edged through the viscous traffic, still in a jaded stupor. And then suddenly I was yanked out of my daze.
“Panic, Inc.,” was the description, next to the little yellow P on the purple background. I remember emitting some sort of onomatopoeia akin to the war cry of an asthmatic Tasmanian devil.

Ten minutes of following the blue “Current Location” dot in Maps.app led merely to frustration and disorientation. Half-jokingly, I tweeted @panic, asking why their office was so hard to find. When I got a response, I was pretty shocked. Twenty minutes later, I was standing diagonally from Powell’s, walking up to Neven Mrgan in the flesh.
“You look like your avatar too,” he said to me.

What ensued was a blur of my most fantastic dreams solidifying into reality. I rode in an elevator with Neven Mrgan. The entire time I was trying to maintain some semblance of composure, trying to express my gushing adoration for Coda and Transmit without sounding like some kind of ten-year-old suckup. Neven clarified the origin of the Panic 1982 boxes, showed me the arcade machine, the Apple Design Awards (and other unmentionables) in the display outside the elevator. He explained why the Neutraface font came in a box. He showed me the founders’ room, where an iPad was connected to a TV. He mentioned only that he was working on “some project.” Not an hour after leaving, I realized he was referring to using an iPhone to control The Incident on TV.

He was beyond modest, never once even mentioning an accomplishment of his. He was just so nice. Hell, he went downstairs and outside to wait on the street corner for a 14-year-old girl who tweeted the support account. Who even does that? Whatever the reason, I’m eternally grateful, because that day changed everything.

I was woefully ignorant before, the immature iOS fangirl who loads her device with RAM-sucking, “cool” MobileSubstrate addons to impress her peers. But on the twelfth of November, 2010, I discovered “beautiful.” My role models changed from the faceless, unpronounceable usernames of the interweb forums, to the likes of Sebastiaan de With, Cabel Sasser, Marco Arment, Frank Chimero, Kyle Van Essen, Michael Flarup, Jeff Broderick, Dustin Curtis, and, of course, Neven. I eschewed the horrendous interfaces of hastily compiled one-trick apps, and began a love affair with Proxima Nova and Photoshop layer styles.
I wanted to design software that was loved by everyone from middle-age industry professionals to excited teenage girls. I wanted to work at Panic. I wanted to work with the good ones.

He may not remember it, but meeting Neven changed my life. And maybe, just maybe, someday it’ll happen again.

{% endfilter %}
{% endblock body %}
