section.main
    .container.escape-header
        h2.serif 404: not found
        p.error.
            Alas, this page is nowhere to be found. If you believe this to be in error, kindly #[a(href="/contact") contact me].