.about-hero
    .container
        .about-feature
            h1.about-header.serif Design's pretty cool

section.main
    .container
        h2.serif About Me
        p.main-copy.
            #[strong I am a second-year undergraduate at Northwestern University studying computer science], with a focus on education technology and user-centered design. I am advised by Haoqi Zhang as part of the #[a(href="http://dtr.northwestern.edu") Design, Technology, and Research] group under the #[a(href="http://delta.northwestern.edu") Delta Lab]. #[a(href="/assets/files/Lim_Sarah_Resume.pdf") Download my resume.]
        p.main-copy.
            Broadly speaking, my research interests intersect computing education research (CER), human-computer interaction (HCI), social computing, accessibility, and the learning sciences; I am specifically interested in applying crowdsourcing techniques to support learning at scale. My current work seeks to help intermediate programming students extract and interpret professional web source code.
        p.main-copy.
            I am incredibly passionate about teaching, and finding ways to make CS more accessible to learners. I'm a teaching assistant in the Northwestern EECS department, and an assistant debate coach at #[a(href="http://www.college-prep.org/page") The College Preparatory School]. Other interests: flute, typography, twice-exceptional advocacy (and social justice work in general), cooking, and hanging out with my advisor's dog.
        p.main-copy.
            I'll be working at #[a(href="https://www.linkedin.com/in/sarahclim") LinkedIn] Sunnyvale this summer, as a UI Engineering Intern.

        h2.serif Colophon
        p.main-copy.
            This site is written in my ride-or-die, #[a(href="http://sublimetext.com") Sublime Text 3].
        p.main-copy.
            I recently switched to #[a(href="http://harpjs.com") Harp.js] for my static site generator, and I love it. I use #[a(href="http://jade-lang.com/") Jade] for templating and #[a(href="http://sass-lang.com/") Sass] for CSS.
        p.main-copy.
            Any portraits were taken by the very talented #[a(href="https://www.facebook.com/matthewzhangphotography") Matthew Zhang], and other photography is from #[a(href="http://unsplash.com") Unsplash].
        p.main-copy.
            I also made #[a(href="http://eecs.northwestern.edu/~scl025") this website], which is arguably better.