.about-hero
    .container
        .about-feature
            h1.about-header.serif Never gonna give you up

section.main
    .container
        h2.serif About Me
        p.main-copy.
            #[strong I am a third-year undergraduate at Northwestern University studying computer science], with research interests in computing education and human-computer interaction. I am advised by #[a(href="http://users.eecs.northwestern.edu/~hq/") Haoqi Zhang] as part of the #[a(href="http://dtr.northwestern.edu") Design, Technology, and Research] group under the #[a(href="http://delta.northwestern.edu") Delta Lab].
            My research explores the concept of leveraging professional websites as worked examples of front-end development techniques, along with possible methods for integrating such examples into the end-user programming workflow.
        p.main-copy.
            I'm enthusiastic about teaching, and dedicated to making computer science educationally accessible for students who lack confidence in their abilities. I am currently a head teaching assistant for EECS 111: Fundamentals of Computer Programming I at Northwestern, as well as EECS 214: Data Structures, where I work to help develop effective assignments, assessments, and pedagogical practices for introductory computer science curriculum.
        p.main-copy.
            My work has received recognition from companies and organizations including Google, Palantir, Quip, Lime Connect, and The Alumnae of Northwestern University. Over the summer, I was a User Interface Engineering Intern at #[a(href="https://www.linkedin.com/in/sarahclim") LinkedIn] in Sunnyvale, CA, where I built an #[a(href="http://emberjs.com/") Ember.js] addon for SVG data visualization.
        p.main-copy.
            You can #[a(href="./assets/files/resume-sarah-lim-10-2016.pdf") download my resume here].

        h2.serif Colophon
        p.main-copy.
            This site is built using #[a(href="http://harpjs.com") Harp.js], #[a(href="http://jade-lang.com/") Jade], #[a(href="http://sass-lang.com/") Sass], and hosted on GitHub Pages.
        p.main-copy.
            Any portraits were taken by the very talented #[a(href="https://www.facebook.com/matthewzhangphotography") Matthew Zhang], and other photography is from #[a(href="http://unsplash.com") Unsplash].
        p.main-copy.
            My #[a(href="http://eecs.northwestern.edu/~scl025") academic homepage] is arguably better.
