.about-hero
    .container
        .about-feature
            h1.about-header.serif Never gonna give you up

section.main
    .container
        h2.serif About Me
        p.main-copy.
            #[strong I am a rising third-year undergraduate at Northwestern University studying computer science], with research interests in computing education and human-computer interaction. I am advised by #[a(href="http://users.eecs.northwestern.edu/~hq/") Haoqi Zhang] as part of the #[a(href="http://dtr.northwestern.edu") Design, Technology, and Research] group under the #[a(href="http://delta.northwestern.edu") Delta Lab]. 
            My research explores the concept of leveraging professional websites as worked examples of front-end development techniques, along with possible methods for integrating such examples into the end-user programming workflow.
        p.main-copy.
            I am enthusiastic about teaching, and dedicated to making computer science educationally accessible for students who lack confidence in their abilities. I am currently a head teaching assistant for EECS 111: Fundamentals of Computer Programming I at Northwestern, as well as EECS 214: Data Structures. I work with #[a(href="http://www.cs.northwestern.edu/~ian/") Ian Horswill] to develop effective assignments, assessments, and pedagogical practices for introductory computer science curriculum.
        p.main-copy.
            I have received awards for my work from Google, Lime Connect, Quip, and The Alumnae of Northwestern University. I'm currently a UI Engineering Intern at #[a(href="https://www.linkedin.com/in/sarahclim") LinkedIn] in Sunnyvale, CA.
        p.main-copy.
            You can #[a(href="./assets/files/Lim_Sarah_Resume.pdf") download my resume here].

        h2.serif Colophon
        p.main-copy.
            This site is built using #[a(href="http://harpjs.com") Harp.js], #[a(href="http://jade-lang.com/") Jade], #[a(href="http://sass-lang.com/") Sass], and hosted on GitHub Pages.
        p.main-copy.
            Any portraits were taken by the very talented #[a(href="https://www.facebook.com/matthewzhangphotography") Matthew Zhang], and other photography is from #[a(href="http://unsplash.com") Unsplash].
        p.main-copy.
            My #[a(href="http://eecs.northwestern.edu/~scl025") academic homepage] is arguably better.
