.hero
    .container
        .feature
            h1.feature-header.serif Sk8er Boi was a pretty good song

section.headline
  .container
    a(id="content" class="anchor")
    h2.headline-heading Sarah Lim is a developer, designer, & student at Northwestern University.
    h2.headline-subheading With bird noises.

.container
    hr.divider-part

section.intro
    .container.clearfix
        .col.one-third
            h3.intro-heading Teaching
            p.intro-copy.
                I really enjoy teaching, and constantly strive to make CS a more accessible and enjoyable subject for beginners. I periodically blog about confusing/interesting topics I encounter as a teaching assistant.
            a(href="/articles/index.html#teaching" class="btn btn-default read-more") Read more
        .col.one-third
            h3.intro-heading Research
            p.intro-copy.
                My current research seeks to harness professional websites as readily-available examples of front-end development techniques. I'm advised by Haoqi Zhang through the #[a(href="http://delta.northwestern.edu") Delta Lab].
            a(href="http://dtr.northwestern.edu" class="btn btn-default read-more") Learn more
        .col.one-third
            h3.intro-heading Work
            p.intro-copy.
                I build websites and design graphics and interfaces for both print and the web. I'm always interested in new projects, so please get in touch if you'd like to work together.
            a(href="/work" class="btn btn-default read-more") See my work