section.main
    .container
        h2.serif Teaching
        p.main-copy #[strong Contact:] #[a(href="mailto:slim@u.northwestern.edu") slim@u.northwestern.edu] (I am notoriously bad at checking Piazza, but will usually respond to your email within 24 hours)

        p.main-copy I am usually available for 2-3 hours each week for tutoring and office hours by appointment. Feel free to email me if you'd like to go over any material, especially if you're considering dropping the class.

        p.main-copy #[strong Do you want free money!!!] I am currently recruiting novice/intermediate web developers to test prototype learning tools for my research. Compensation ranges from $10-30 depending on length and type of participation. If you know basic HTML, CSS, and JavaScript and are interested in self-taught web development, please contact me.

        h3.serif Spring 2016, EECS 214
        p #[strong Office Hours:] Thursdays 4-5pm @ Ford 2nd Floor Lounge
        p #[strong Recitation:] Mondays 6-7pm @ Ford 3rd Floor Lounge, with Karina Sirota

        ul
            li
                a(href="notes/big-o") ELI5: Big O notation
            li
                a(href="notes/dfs-correction") DFS clarification from Recitation 0
            li
                a(href="http://visualgo.net") Visualgo: algorithm visualizations

        h3.serif Winter 2016, EECS 111
        p #[strong Office Hours:] Thursdays 1-3pm @ Ford 3rd Floor Conference Room

        p #[strong Midterm 2 Review Session:] Wyatt Cook and I will be hosting a last-minute review session at 10am on the day of the exam, in the Ford 3rd Floor Conference Room

        ul
            li
                a(href="assets/files/teaching/EECS111_W16_Exam2_Practice.zip") Midterm 2 Practice Problems, with solutions (.zip)
            li
                a(href="articles/structural-recursion") Structural recursion
            li
                a(href="articles/higher-order-part-1") Higher-order functions continued: 'map'
            li
                a(href="articles/higher-order-part-2") Intro to higher-order functions: 'filter'
            li
                a(href="articles/binary-nodes") Binary nodes explanation
            li
                a(href="https://gist.github.com/sarahlim/e4ae13ff139e6781d17c") Midterm 1 Practice Problems

        h3.serif Fall 2015, EECS 111
        p #[strong Office Hours:] Wednesdays 2-3pm @ Ford 3rd Floor Lounge

        ul
            li
                a(href="http://www.ccs.neu.edu/home/matthias/HtDP2e/part_prologue.html") How to Program in Racket
            li
                a(href="https://docs.racket-lang.org/htdp-langs/beginner.html") Beginning Student Language Documentation
            li
                a(href="https://docs.racket-lang.org/htdp-langs/intermediate.html") Intermediate Student Language Documentation
            li
                a(href="https://docs.racket-lang.org/htdp-langs/advanced.html") Advanced Student Language Documentation