section.main
    .container
        h2.serif Teaching
        p.main-copy
            em Resources for students in introductory EECS courses at NU

        p #[strong Contact:] email slim AT u.northwestern DOT edu (I am bad at checking Piazza, but will usually respond to your email within 24 hours)

        h3.serif Spring 2016, EECS 214
        p #[strong Office Hours:] TBD

        h3.serif Winter 2016, EECS 111
        p #[strong Office Hours:] Thursdays 1-3pm @ Ford 3rd Floor Conference Room

        p #[strong Midterm 2 Review Session:] Wyatt Cook and I will be hosting a last-minute review session at 10am on the day of the exam, in the Ford 3rd Floor Conference Room

        ul
            li
                a(href="assets/files/teaching/EECS111_W16_Exam2_Practice.zip") Midterm 2 Practice Problems, with solutions (.zip)
            li
                a(href="articles/structural-recursion") Structural recursion
            li
                a(href="articles/higher-order-part-1") Higher-order functions continued: 'map'
            li
                a(href="articles/higher-order-part-2") Intro to higher-order functions: 'filter'
            li
                a(href="articles/binary-nodes") Binary nodes explanation
            li
                a(href="https://gist.github.com/sarahlim/e4ae13ff139e6781d17c") Midterm 1 Practice Problems

        h3.serif Fall 2015, EECS 111
        p #[strong Office Hours:] Wednesdays 2-3pm @ Ford 3rd Floor Lounge

        ul
            li
                a(href="http://www.ccs.neu.edu/home/matthias/HtDP2e/part_prologue.html") How to Program in Racket
            li
                a(href="https://docs.racket-lang.org/htdp-langs/beginner.html") Beginning Student Language Documentation
            li
                a(href="https://docs.racket-lang.org/htdp-langs/intermediate.html") Intermediate Student Language Documentation
            li
                a(href="https://docs.racket-lang.org/htdp-langs/advanced.html") Advanced Student Language Documentation