{% extends "page.html" %}

{% block content %}

<section class="main"><div class="container escape-header">
	<h2 class="serif">Contact Me</h2>
	<p class="main-copy">
		I'd love to help with your latest web, graphic, or branding project. If you'd like to work together, or just want to say hi, complete the following form or reach out via any of my <a href="http://twitter.com/soylentqueen">other</a> <a href="http://linkedin.com/in/sarahclim">social</a> <a href="http://github.com/sarahlim">channels</a>, and I'll get back to you as soon as possible.
	</p>
	<hr class="divider-part">
	<div class="contact-form">
		<form id="contact" action="" method="POST" class="form-group">
			<div class="row clearfix">
				<div class="col one-half col-inline">
					<input type="text" name="required_name" class="input-text" placeholder="Name*" required>
				</div>
				<div class="col one-half col-inline">
					<input type="email" name="required_email" class="input-text" placeholder="Email*" required>
				</div>
			</div>
			<div class="row clearfix">
				<textarea rows="5" name="required_msg" class="input-textarea textarea-vertical" placeholder="Message*" required></textarea>
			</div>
			<div class="row clearfix">
				<div class="col one-third">
					<input type="text" name="required_val" class="input-val" placeholder="What is 7 + 3?*" required>
				</div>
			</div>
			<div class="row clearfix">
				<button class="btn btn-primary input-submit">Shall we?</button>
				<p class="submit-confirm">Submitted. Thanks!</p>
			</div>
		</form>
	</div>
	
</div></section>


{% endblock content%}
