{% extends "page.html" %}

{% block content %}
<div class="hero"><div class="container">
	<div class="feature">
		<h1 class="feature-header serif">Sk8er Boi was a pretty good song</h1>
	</div>
	<a href="#content"><div class="down-arrow"></div></a>
</div></div>

<section class="headline"><div class="container">
	<a id="content" class="anchor"></a>
	<h2 class="headline-heading">Sarah Lim is a designer, developer, &amp; undergraduate student at Northwestern University.</h2>
	<h2 class="headline-subheading">She is a big fan of bird noises.</h2>
</div></section>

<div class="container"><hr class="divider-part"></div>
<section class="intro">
	<div class="container clearfix">
		<div class="col one-third">
			<h3 class="intro-heading">About Me</h3>
			<p class="intro-copy">I'm a second-year undergraduate at Northwestern, majoring in Computer Science and concentrating in Interfaces and Artificial Intelligence. My goal is to build systems to empower and educate communities.</p>
			<a href="about.html" class="btn btn-default read-more">Read more</a>
		</div>
		<div class="col one-third">
			<h3 class="intro-heading">Research</h3>
			<p class="intro-copy">I'm part of the Northwestern <a href="http://delta.northwestern.edu">Delta Lab</a>, an interdisciplinary design research group. My current work centers around human-computer interaction (HCI), social computing, and learning sciences.</p>
			<a href="http://dtr.meteor.com/projects/pwap" class="btn btn-default read-more">Learn more</a>
		</div>
		<div class="col one-third">
			<h3 class="intro-heading">Work</h3>
			<p class="intro-copy">I design elegant graphics and interfaces, and build responsive web views using modular HTML, CSS, and JavaScript. I'm currently available for hire, so please get in touch if you'd like to work together.</p>
			<a href="work.html" class="btn btn-default read-more">See my work</a>
		</div>
	</div>
</section>


{% endblock content%}
