{% extends "page.html" %}
{% block content %}

	<section class="main"><div class="container escape-header">
		<h2 class="serif">Work</h2>
		
		<section class="thumbnails clearfix">
			{% for project in projects %}
				<div class="project col one-third">
					<a href='/{{ project.path }}'>
					<img class="2x" width="300" height="300" src="{{ project.thumbnail }}"/>
					<span class="project-title">{{ post.title }}</span>
				</a>
				</div>
			{% endfor %}
		</section>
	</div></section>
	
{% endblock content %}
