footer.footer.dark
  .container
    section.blurb
      p Designed and built by Slimberly Lim. 
      p There are many imitations, but this one is mine.

    ul.footer__links.list-unstyled.list-inline
      for link in public._data.about.links
        li
          a(href="#{link.url}")
            i.fa(class="#{link.icon}" aria-hidden="true" title="#{link.title}")
    
