head
    meta(charset="utf-8")
    meta(http-equiv="X-UA-Compatible", content="IE=edge")

    title Slim Lim
    meta(name="description" content="Slim Lim is a computer scientist, researcher, and software engineer interested in interfaces for computing.")
    meta(name="viewport" content="width=device-width, initial-scale=1")

    link(rel="icon" type="image/png" sizes="32x32" href="assets/img/favicon-32x32.png")
    link(rel="icon" type="image/png" sizes="16x16" href="assets/img/favicon-16x16.png")
    link(rel="stylesheet" href="assets/css/main.css")

    script(async defer src="assets/lib/smooth-scroll.js")
    script(async defer src="https://use.fontawesome.com/93f8d6d0b2.js")
