section.news#news
  .container
    h2.section-title News

    dl
      for news in public._data.news
        dt.news__item-date
          p #{news.period}
        dd.news__item-description
          p !{news.description}
