section.main
    .container.escape-header
        h2.project-title.serif-tight= title

        article.post
            section.project-body
                != yield

            footer.article-meta.clearfix
                .article-meta-date
                    span Created #{ date }, #{ year }
                if tags
                    .article-tags
                        span #{ tags.join(', ') }