doctype
html
  head
    meta(charset="utf-8")
    meta(name="viewport", content="width=device-width, initial-scale=1")

    //- Favicon
    link(rel="shortcut icon", href="../assets/images/favicon.ico")

    //- Stylesheets
    link(rel="stylesheet", href="../assets/css/notes.css", type="text/css")
    link(rel="stylesheet" href="https://fonts.googleapis.com/css?family=Karla:400,400italic,700" type="text/css")
    link(rel="stylesheet", href="https://dl.dropboxusercontent.com/u/14218448/assets/prism.css", type="text/css")

    title= title
  body
    .content
        main
            article
                !=yield


        //- Footer
        footer
            p Written by #[a(href="../index.html") Sarah Lim].

    //- Prism with Scheme highlighting
    script(src="https://dl.dropboxusercontent.com/u/14218448/assets/prism.js" type="text/javascript")
    //- MathJax
    script(src="https://cdn.mathjax.org/mathjax/latest/MathJax.js?config=TeX-AMS_HTML" type="text/javascript")
    script(type="text/x-mathjax-config").
        MathJax.Hub.Config({
        tex2jax: {
            inlineMath: [['$','$'], ['\\(','\\)']],
            displayMath: [ ['$$','$$'], ["\\[","\\]"] ],
            processEnvironments: true
        }});